.grid-Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'header header header header'
        'left2 left2 right2 right2'
        'left3 left3 right3 right3'
        'left4 left4 right4 right4'
        'people people people people'
        'end1 end2 end3 end4'
        'footer footer footer footer';
}

.header {
    grid-area: header;
    height: 50rem;
    background-color: #3DBEFF;
    background-image: url('../images/desktop/image-header.jpg');
    background-position: center bottom;
    background-size: cover;
}

.left2 {
    grid-area: left2;
    height: 45vw;

}

.right2 {
    grid-area: right2;
    height: 45vw;
    background-color: #FFD600;
    background-image: url('../images/desktop/image-transform.jpg');
    background-size: cover;
    background-position: center;
}

.left3 {
    grid-area: left3;
    height: 45vw;
    background-color: #FE7563;
    background-image: url('../images/desktop/image-stand-out.jpg');
    background-size: cover;
    background-position: center;
}

.right3 {
    grid-area: right3;
    height: 45vw;
}

.left4 {
    grid-area: left4;
    height: 45vw;
    background-color: #A0DDCE;
    background-image: url('../images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-position: center;
}

.right4 {
    grid-area: right4;
    height: 45vw;
    background-color: #5CCAFF;
    background-image: url('../images/desktop/image-photography.jpg');
    background-size: cover;
    background-position: center;
}

.people {
    grid-area: people;
    height: 32rem;
}

.end1 {
    grid-area: end1;
    height: 15rem;
}

.end2 {
    grid-area: end2;
    height: 15rem;
}

.end3 {
    grid-area: end3;
    height: 15rem;

}

.end4 {
    grid-area: end4;
    height: 15rem;

}

.footer {
    grid-area: footer;
    height: 20rem;
    background-color: #90D4C5;
}

@media screen and (max-width:767px) {
    .grid-Container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'header header'
            'right2 right2'
            'left2 left2'
            'left3 left3'
            'right3 right3'
            'left4 left4'
            'right4 right4'
            'people1 people1'
            'people2 people2'
            'people3 people3'
            'end1 end2'
            'end3 end4'
            'footer footer';
    }

    .people {
        display: none;
    }

    .header {
        grid-area: header;
        height: 35rem;
        background-color: #3DBEFF;
        /* padding-bottom: 30rem; */
    }

    .left2 {
        grid-area: left2;
        height: 120vw;
    }

    .right2 {
        grid-area: right2;
        height: 80vw;
        background-color: #FFD600;
    }

    .left3 {
        grid-area: left3;
        height: 80vw;
        background-color: #FE7563;
    }

    .right3 {
        grid-area: right3;
        height: 120vw;
    }

    .left4 {
        grid-area: left4;
        height: 140vw;
        background-color: #A0DDCE;
    }

    .right4 {
        grid-area: right4;
        height: 140vw;
        background-color: #5CCAFF;
    }

    .people1 {
        grid-area: people1;
        height: 120vw;
    }

    .people2 {
        grid-area: people2;
        height: 120vw;
    }

    .people3 {
        grid-area: people3;
        height: 120vw;
    }

    /* .people {
        grid-area: people;
    } */

    .end1 {
        grid-area: end1;
        height: 50vw;
    }

    .end2 {
        grid-area: end2;
        height: 50vw;
    }

    .end3 {
        grid-area: end3;
        height: 50vw;
    }

    .end4 {
        grid-area: end4;
        height: 50vw;
    }

    .footer {
        grid-area: footer;
        height: 20rem;
        background-color: #90D4C5;
    }
}